@model List<IdentityUser>
@using Microsoft.AspNetCore.Identity;
@foreach(IdentityUser user in Model) {
    <form method="post">
    <span>Id: @user.Id</span>
    <span>Email: @user.Email</span>
    <span>UserName: @user.UserName</span>
    @if(user.LockoutEnd == null) {
    <span>Status: active</span>
    } else {
    <span>Status: blocked</span>
    }
    <br />
    <input type="hidden" value="@user.Id" name="userId"/>
    <input formaction="BlockUser" type="submit" value="Block" class="active"/>
    <input formaction="UnblockUser" type="submit" value="Unblock" class="active"/>
    <input formaction="DeleteUser" type="submit" value="Delete" class="active"/>
    <input formaction="GiveAdmin" type="submit" value="Give Admin Rights" class="active"/>
    </form>
    <a asp-action="AddFanficAdmin" asp-controller="Admin"asp-route-userId="@user.Id">Create fanfic by this user</a>
    <hr />
}