    <div>
    @{ 
      List<Chapter> list = new List<Chapter>(ViewBag.Chapters);
      foreach(Fanfic f in ViewBag.Fanfics) {
            <span>@f.Title</span>
            <span>@f.Description</span>
            <span>@f.Fandom</span>
            <div>
                Главы:<br /> @foreach(Chapter c in list.Where(x=>x.Fanfic_Id==f.Id)){
                <span>@c.Number .</span>
                <span>@c.Title</span>
                <span>@c.Body</span>
                <br />
                }
            </div>
            
            <hr />
        }
    }
    </div>