@model (List<Fanfic> fanfics,List<Fandom> fandoms)
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    @{
        foreach(Fanfic f in Model.fanfics) {
        <form method="post">
            
            <span>@f.Title</span>
            <span>@f.Description</span>
            @foreach(Fandom fandom in Model.fandoms) {
                if(fandom.Id == f.Fandom_Id) {
                    <span>@fandom.Name</span>
                }
            }
            <a asp-controller="Fanfic" asp-action="FanficDetails" asp-route-id="@f.Id">Подробнее</a>
            <input name="fanficId" value="@f.Id" type="hidden"/>
            <input type="submit" class="bg-dark" value="удолить" formaction="RemoveBookmark"/>
        </form>
            <hr />
        }
    }
</div>
